RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule .* index.php [L]

SetEnv DATABASE_SERVER localhost
SetEnv DATABASE_LOGIN user
SetEnv DATABASE_PASSWORD somePassword
SetEnv DATABASE_NAME someName

SetEnv ENCRYPTION_KEY someKey