RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* index.php [L]
SetEnv USER_MAIL_DOMAIN user@host

SetEnv DATABASE_SERVER localhost
SetEnv DATABASE_LOGIN user
SetEnv DATABASE_PASSWORD password
SetEnv DATABASE_NAME name

SetEnv MAIL_SERVER localhost
SetEnv MAIL_LOGIN user
SetEnv MAIL_PASSWORD password